{{>licenseInfo}}
package {{packageName}}

import com.bugsnag.Bugsnag
import com.natpryce.konfig.CommandLineOption
import com.natpryce.konfig.Configuration
import com.natpryce.konfig.Key
import com.natpryce.konfig.stringType
import com.remitly.ktor.BugsnagIntegration
import com.remitly.ktor.BugsnagIntegration.InstallBugsnag
import com.remitly.ktor.MetricsIntegration
import com.remitly.ktor.TracingIntegration
import com.remitly.ktor.instrumentedServer
import io.ktor.application.ApplicationStopping
import io.ktor.application.call
import io.ktor.application.install
import io.ktor.client.HttpClient
import io.ktor.client.engine.apache.Apache
import io.ktor.features.ContentNegotiation
import io.ktor.features.StatusPages
import io.ktor.http.ContentType
import io.ktor.http.HttpStatusCode
import io.ktor.jackson.JacksonConverter
import io.ktor.response.respond
import io.ktor.routing.routing
import io.ktor.server.netty.Netty
import io.ktor.server.netty.NettyApplicationEngine

{{#generateApis}}
import {{apiPackage}}.*
{{/generateApis}}
import {{packageName}}.generated.DefaultConfig

{{#imports}}import {{import}}
{{/imports}}


object HTTP {
    val client = HttpClient(Apache)
}

object Config {
    const val serviceName = "{{artifactId}}"
    lateinit var configuration: Configuration
}

fun customConfig() : Array<CommandLineOption> {
    val configExample = "example"
    val keyExample = Key(configExample, stringType)
    return arrayOf(
        CommandLineOption(keyExample, "example", "e", "Replace with a real config")
    )
}

object Application {

    @JvmStatic
    fun main(args: Array<String>) {

        Config.configuration = DefaultConfig(args, customConfig(), Config.serviceName).configuration

        val ktor = instrumentedServer(
            factory = Netty,
            port = Config.configuration[DefaultConfig.keyServicePort],
            bugsnag = bugsnagIntegration(Config.configuration[DefaultConfig.keyBugsnagApiKey], Config.configuration[DefaultConfig.keyBugsnagReleaseStage]),
            tracing = tracingIntegration(),
            metrics = metricsIntegration(),
            configureApplicationEngine = NettyApplicationEngine.Configuration::instrumentServer
        ) {
            install(StatusPages) {
                exception<Throwable> {
                    call.respond(HttpStatusCode.InternalServerError)
                }
            }
            install(ContentNegotiation) {
                register(ContentType.Application.Json, JacksonConverter())
            }
            routing {
                {{#apiInfo}}
                {{#apis}}
                {{#operations}}
                {{classname}}()
                {{/operations}}
                {{/apis}}
                {{/apiInfo}}
            }

            environment.monitor.subscribe(ApplicationStopping) {
                HTTP.client.close()
            }
        }

        ktor.start(wait = true)
    }
}

fun NettyApplicationEngine.Configuration.instrumentServer() {
    // TODO
}

fun metricsIntegration(): MetricsIntegration {
    return MetricsIntegration.InstallMetrics(Config.configuration[DefaultConfig.keyAdminPort])
}

fun tracingIntegration(): TracingIntegration {
    return TracingIntegration.InstallTracing(Config.serviceName)
}

fun bugsnagIntegration(key: String, stage: String): BugsnagIntegration {
    val client = Bugsnag(key).apply{
        this.setReleaseStage(stage)
    }
    return InstallBugsnag(client)
}

