{{>partial_header}}

package service


{{#operations}}
import (
    "github.com/remitly/tiny-middleware-go/opentracing"
    "github.com/gorilla/mux"
    "github.com/remitly/tiny-logger-go/log"
    "net/http"
){{#operation}}


func {{nickname}}(w http.ResponseWriter, r *http.Request) {
    span, _ := opentracing.StartSpanFromRequest(r, "{{nickname}}")
    log.With(log.KeyEndpoint, "{{nickname}}").
        WithServiceMetadata(log.ServiceMetaDataFromRequest(r, "help-todo")).
        Debugf("vars: %+v", mux.Vars(r))

    // -----------------------------------------------------
    // domain logic here
    // -----------------------------------------------------

    span.Finish()
    w.Header().Set("Content-Type", "application/json; charset=UTF-8")
    w.WriteHeader(http.StatusOK)
}{{/operation}}{{/operations}}
