package service

import "github.com/spf13/pflag"

type Config struct{}

// add application/service specific flags/env vars here
func (c Config) LoadApplicationSettings(){
	pflag.String("custom-app-config-flag", "12345", "enter service specific flags here")
}


