package service

type CustomConfig struct {
    // Add service specific flags here, see: https://github.com/jessevdk/go-flags
    Example string `short:"e" long:"example" description:"Replace with a real config" choice:"foo" choice:"bar"`
}

