{{>partial_header_no_edit}}

package config

import (
    "{{serviceName}}/service/config"
)

type DefaultConfig struct {
    LogLevel            string  `short:"l" long:"log-level" description:"Logging level" choice:"debug" choice:"info" choice:"warn" choice:"error" default:"info"`
    BugsnagAPIKey       string  `short:"k" long:"bugsnag-api-key" description:"Bugsnag API Key"`
    BugsnagReleaseStage string  `short:"s" long:"bugsnag-release-stage" description:"Bugsnag Release Stage" choice:"preprod" choice:"prod"`
    Port                int     `short:"p" long:"port" description:"Service port" default:"8080"`
    RateLimit           float64 `short:"r" long:"rate-limit" description:"Maximum number of requests/second" default:"1000.0"`
    CustomConfig        config.CustomConfig
}
