{{>partial_header}}
package main

import (
    "{{goModule}}/{{packageName}}"
)


// Place service specific code in service/api_{name}.go and service/customconfig.go
func main() {
    boot := {{packageName}}.Bootstrap{}
    boot.LaunchServer()
}
