{{>licenseInfoNoEdit}}
package {{modelPackage}}

{{#imports}}import {{import}}
{{/imports}}

// {{#lambda.dump}}//{{/lambda.dump}}

{{#models}}
{{#model}}
{{#isEnum}}{{>enum_class}}{{/isEnum}}{{^isEnum}}{{>data_class}}{{/isEnum}}
{{/model}}
{{/models}}
